# Ola Booking Data Cleaning

### Objective:
To clean and preprocess raw Ola booking data by handling missing values,
correcting data types, and preparing the dataset for analysis and visualization.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../dataset/Mumbai_Ride_Data.csv")
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Payment_Method,Avg VTAT,...,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Cancelled Rides by Driver Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,2025-01-29 00:00:00,02:18:00,MUM0000001,Incomplete,CUST73037,Prime SUV,Ghatkopar West,Thane East,CASH,NaN,...,0,NaN,0,NaN,1,Other Issue,360.22,NaN,NaN,NaN
1,2025-01-12 00:00:00,13:33:00,MUM0000002,Cancelled,CUST37992,eBike,Malad East,Thane West,CASH,NaN,...,0,NaN,1,Personal & Car related issues,0,NaN,570.47,NaN,NaN,NaN
2,2025-01-23 00:00:00,16:05:00,MUM0000003,Incomplete,CUST68431,eBike,Bandra West,Colaba,CASH,NaN,...,0,NaN,0,NaN,1,Vehicle Breakdown,147.72,NaN,NaN,NaN
3,2025-01-16 00:00:00,20:35:00,MUM0000004,Completed,CUST55906,eBike,Mulund West,Goregaon East,UPI,16.0,...,0,NaN,0,NaN,0,NaN,863.22,15.76,3.5,4.2
4,2025-01-16 00:00:00,21:42:00,MUM0000005,Incomplete,CUST29698,Mini,Mulund East,Cuffe Parade,UPI,NaN,...,0,NaN,0,NaN,1,Vehicle Breakdown,749.76,NaN,NaN,NaN

In [3]:
df.shape
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               100000 non-null  object
 1   Time                               100000 non-null  object
 2   Booking ID                         100000 non-null  object
 3   Booking Status                     100000 non-null  object
 4   Customer ID                        100000 non-null  object
 5   Vehicle Type                       100000 non-null  object
 6   Pickup Location                    100000 non-null  object
 7   Drop Location                      100000 non-null  object
 8   Payment_Method                     100000 non-null  object
 9   Avg VTAT                           62045 non-null   float64
 10  Avg CTAT                           62045 non-null   float64
 11  Cancelled Rides by Customer        100000 non-null  int64
 12  Reason for cancelling by Customer  9515 non-null    object
 13  Cancelled Rides by Driver          100000 non-null  int64
 14  Cancelled Rides by Driver Reason   9440 non-null    object
 15  Incomplete Rides                   100000 non-null  int64
 16  Incomplete Rides Reason            19000 non-null   object
 17  Booking Value                      100000 non-null  float64
 18  Ride Distance                      62045 non-null   float64
 19  Driver Ratings                     62045 non-null   float64
 20  Customer Rating                    62045 non-null   float64
dtypes: float64(6), int64(3), object(12)
memory usage: 16.0+ MB

In [4]:
df.isna().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Payment_Method                           0
Avg VTAT                             37955
Avg CTAT                             37955
Cancelled Rides by Customer              0
Reason for cancelling by Customer    90485
Cancelled Rides by Driver                0
Cancelled Rides by Driver Reason     90560
Incomplete Rides                         0
Incomplete Rides Reason              81000
Booking Value                            0
Ride Distance                        37955
Driver Ratings                       37955
Customer Rating                      37955
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df['Incomplete Rides'] = df['Incomplete Rides'].replace({
    0: 'No',
    1: 'Yes'
})

In [7]:
df[['Avg CTAT','Avg VTAT']].head()

   Avg CTAT  Avg VTAT
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3      10.0      16.0
4       NaN       NaN

In [8]:
df["Avg VTAT"] = pd.to_numeric(df["Avg VTAT"], errors="coerce").round(0)
df["Avg CTAT"] = pd.to_numeric(df["Avg CTAT"], errors="coerce").round(0)

In [9]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce").dt.date

# ---------- TIME (ONLY TIME, NOT DATETIME) ----------
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S", errors="coerce").dt.strftime("%H:%M:%S")

In [10]:
df[['Date','Time']].head()

         Date      Time
0  2025-01-29  02:18:00
1  2025-01-12  13:33:00
2  2025-01-23  16:05:00
3  2025-01-16  20:35:00
4  2025-01-16  21:42:00

In [11]:
# Ratings missing  when ride not completed
df["Driver Ratings"] = df["Driver Ratings"].fillna(0)
df["Customer Rating"] = df["Customer Rating"].fillna(0)

# Distance missing when ride not started
df["Ride Distance"] = df["Ride Distance"].fillna(0)

# Reason missing
df["Incomplete Rides Reason"] = df["Incomplete Rides Reason"].fillna("NA")

In [12]:
df = df[[
    "Date",
    "Time",
    "Booking ID",
    "Booking Status",
    "Customer ID",
    "Vehicle Type",
    "Pickup Location",
    "Drop Location",
    "Avg VTAT",
    "Avg CTAT",
    "Cancelled Rides by Customer",
    "Cancelled Rides by Driver",
    "Incomplete Rides",
    "Incomplete Rides Reason",
    "Booking Value",
    "Payment_Method",
    "Ride Distance",
    "Driver Ratings",
    "Customer Rating"
]]

In [13]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment_Method,Ride Distance,Driver Ratings,Customer Rating
0,2025-01-29,02:18:00,MUM0000001,Incomplete,CUST73037,Prime SUV,Ghatkopar West,Thane East,NaN,NaN,0,0,Yes,Other Issue,360.22,CASH,0.00,0.0,0.0
1,2025-01-12,13:33:00,MUM0000002,Cancelled,CUST37992,eBike,Malad East,Thane West,NaN,NaN,0,1,No,NA,570.47,CASH,0.00,0.0,0.0
2,2025-01-23,16:05:00,MUM0000003,Incomplete,CUST68431,eBike,Bandra West,Colaba,NaN,NaN,0,0,Yes,Vehicle Breakdown,147.72,CASH,0.00,0.0,0.0
3,2025-01-16,20:35:00,MUM0000004,Completed,CUST55906,eBike,Mulund West,Goregaon East,16.0,10.0,0,0,No,NA,863.22,UPI,15.76,3.5,4.2
4,2025-01-16,21:42:00,MUM0000005,Incomplete,CUST29698,Mini,Mulund East,Cuffe Parade,NaN,NaN,0,0,Yes,Vehicle Breakdown,749.76,UPI,0.00,0.0,0.0

In [14]:
df["Payment Value"] = 0.0

# Completed = Full payment
df.loc[
    df["Booking Status"] == "Completed",
    "Payment Value"
] = df["Booking Value"]

# Incomplete = Customer cancel = Full payment
df.loc[
    (df["Booking Status"] == "Incomplete") &
    (df["Incomplete Rides Reason"].str.contains("customer", case=False, na=False)),
    "Payment Value"
] = df["Booking Value"]

# Incomplete = Vehicle breakdown = Zero payment
df.loc[
    (df["Booking Status"] == "Incomplete") &
    (df["Incomplete Rides Reason"].str.contains("vehicle", case=False, na=False)),
    "Payment Value"
] = 0

# Incomplete = Driver / system = Partial payment (50%)
df.loc[
    (df["Booking Status"] == "Incomplete") &
    (~df["Incomplete Rides Reason"].str.contains("customer|vehicle", case=False, na=False)),
    "Payment Value"
] = df["Booking Value"] * 0.5

In [15]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment_Method,Ride Distance,Driver Ratings,Customer Rating,Payment Value
0,2025-01-29,02:18:00,MUM0000001,Incomplete,CUST73037,Prime SUV,Ghatkopar West,Thane East,NaN,NaN,0,0,Yes,Other Issue,360.22,CASH,0.00,0.0,0.0,180.11
1,2025-01-12,13:33:00,MUM0000002,Cancelled,CUST37992,eBike,Malad East,Thane West,NaN,NaN,0,1,No,NA,570.47,CASH,0.00,0.0,0.0,0.00
2,2025-01-23,16:05:00,MUM0000003,Incomplete,CUST68431,eBike,Bandra West,Colaba,NaN,NaN,0,0,Yes,Vehicle Breakdown,147.72,CASH,0.00,0.0,0.0,0.00
3,2025-01-16,20:35:00,MUM0000004,Completed,CUST55906,eBike,Mulund West,Goregaon East,16.0,10.0,0,0,No,NA,863.22,UPI,15.76,3.5,4.2,863.22
4,2025-01-16,21:42:00,MUM0000005,Incomplete,CUST29698,Mini,Mulund East,Cuffe Parade,NaN,NaN,0,0,Yes,Vehicle Breakdown,749.76,UPI,0.00,0.0,0.0,0.00

In [16]:

# Completed rides
completed_mask = df["Booking Status"] == "Completed"

# Cancelled rides
cancelled_mask = df["Booking Status"] == "Cancelled"

# Incomplete rides = not completed AND not cancelled
incomplete_mask = (~completed_mask) & (~cancelled_mask)

median_ctat = df.loc[completed_mask, "Avg CTAT"].median()
median_vtat = df.loc[completed_mask, "Avg VTAT"].median()

df.loc[incomplete_mask, "Avg CTAT"] = median_ctat
df.loc[incomplete_mask, "Avg VTAT"] = median_vtat

In [17]:
df[['Avg VTAT','Avg CTAT']].head()

   Avg VTAT  Avg CTAT
0      10.0      30.0
1       NaN       NaN
2      10.0      30.0
3      16.0      10.0
4      10.0      30.0

In [18]:
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment_Method,Ride Distance,Driver Ratings,Customer Rating,Payment Value
0,2025-01-29,02:18:00,MUM0000001,Incomplete,CUST73037,Prime SUV,Ghatkopar West,Thane East,10.0,30.0,0,0,Yes,Other Issue,360.22,CASH,0.00,0.0,0.0,180.11
1,2025-01-12,13:33:00,MUM0000002,Cancelled,CUST37992,eBike,Malad East,Thane West,NaN,NaN,0,1,No,NA,570.47,CASH,0.00,0.0,0.0,0.00
2,2025-01-23,16:05:00,MUM0000003,Incomplete,CUST68431,eBike,Bandra West,Colaba,10.0,30.0,0,0,Yes,Vehicle Breakdown,147.72,CASH,0.00,0.0,0.0,0.00
3,2025-01-16,20:35:00,MUM0000004,Completed,CUST55906,eBike,Mulund West,Goregaon East,16.0,10.0,0,0,No,NA,863.22,UPI,15.76,3.5,4.2,863.22
4,2025-01-16,21:42:00,MUM0000005,Incomplete,CUST29698,Mini,Mulund East,Cuffe Parade,10.0,30.0,0,0,Yes,Vehicle Breakdown,749.76,UPI,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2025-01-05,04:27:00,MUM0099996,Incomplete,CUST86804,Prime SUV,Mulund East,Vile Parle East,10.0,30.0,0,0,Yes,Vehicle Breakdown,324.23,CASH,0.00,0.0,0.0,0.00
99996,2025-01-13,02:22:00,MUM0099997,Completed,CUST99074,eBike,Kalbadevi,Thane West,14.0,20.0,0,0,No,NA,359.97,CASH,36.96,4.6,4.6,359.97
99997,2025-01-07,18:45:00,MUM0099998,Cancelled,CUST49278,Auto,Jogeshwari West,Dadar West,NaN,NaN,0,1,No,NA,619.57,CASH,0.00,0.0,0.0,0.00
99998,2025-01-25,06:40:00,MUM0099999,Incomplete,CUST36330,Prime SUV,Vile Parle West,Mazgaon,10.0,30.0,0,0,Yes,Customer Demand,400.44,UPI,0.00,0.0,0.0,400.44
99999,2025-01-04,09:54:00,MUM0100000,Incomplete,CUST45444,Prime Sedan,Saki Naka,Malad West,10.0,30.0,0,0,Yes,Vehicle Breakdown,720.81,UPI,0.00,0.0,0.0,0.00

In [19]:
driver_cancel_reasons = [
    "Pickup location too far",
    "Traffic or route issue",
    "Low fare or short trip",
    "Customer not reachable",
    "Vehicle or personal issue"
]
driver_cancel_mask = df["Cancelled Rides by Driver"] == 1

df["Cancelled Rides by Driver"] = df["Cancelled Rides by Driver"].astype("object")

df.loc[driver_cancel_mask, "Cancelled Rides by Driver"] = np.random.choice(
    driver_cancel_reasons,
    size=driver_cancel_mask.sum(),
    replace=True
)

In [20]:
df.loc[~driver_cancel_mask, "Cancelled Rides by Driver"] = "NA"

In [21]:
df['Cancelled Rides by Driver'].head()

0                        NA
1    Low fare or short trip
2                        NA
3                        NA
4                        NA
Name: Cancelled Rides by Driver, dtype: object

In [22]:
customer_cancel_reasons = [
    "Driver taking too long to arrive",
    "Change of travel plan",
    "Found alternative transport",
    "Fare too high",
    "Booked by mistake",
    "Emergency or personal reason"
]
customer_cancel_mask = df["Cancelled Rides by Customer"] == 1
df["Cancelled Rides by Customer"] = df["Cancelled Rides by Customer"].astype("object")

In [23]:
df.loc[customer_cancel_mask, "Cancelled Rides by Customer"] = np.random.choice(
    customer_cancel_reasons,
    size=customer_cancel_mask.sum(),
    replace=True
)

df.loc[~customer_cancel_mask, "Cancelled Rides by Customer"] = "NA"

In [24]:
df['Cancelled Rides by Customer'].head()

0    NA
1    NA
2    NA
3    NA
4    NA
Name: Cancelled Rides by Customer, dtype: object

In [25]:
df["Incomplete Rides"].value_counts()

Incomplete Rides
No     81000
Yes    19000
Name: count, dtype: int64

In [26]:
incomplete_ride_reasons = [
    "Customer no-show at pickup",
    "Driver unable to locate pickup",
    "Vehicle breakdown during trip",
    "Payment issue",
    "Ride stopped midway due to emergency",
    "Route blocked or severe traffic"
]

In [27]:
incomplete_mask = df["Incomplete Rides"] == "Yes"
df.loc[incomplete_mask, "Incomplete Rides Reason"] = np.random.choice(
    incomplete_ride_reasons,
    size=incomplete_mask.sum(),
    replace=True
)

In [28]:
df['Incomplete Rides Reason'].head()

0     Vehicle breakdown during trip
1                                NA
2     Vehicle breakdown during trip
3                                NA
4    Driver unable to locate pickup
Name: Incomplete Rides Reason, dtype: object

In [29]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [30]:
print(df.columns)

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'avg_vtat',
       'avg_ctat', 'cancelled_rides_by_customer', 'cancelled_rides_by_driver',
       'incomplete_rides', 'incomplete_rides_reason', 'booking_value',
       'payment_method', 'ride_distance', 'driver_ratings', 'customer_rating',
       'payment_value'],
      dtype='object')

In [31]:
df["avg_vtat"] = pd.to_numeric(df["avg_vtat"], errors="coerce").round(0)
df["avg_ctat"] = pd.to_numeric(df["avg_ctat"], errors="coerce").round(0)

In [32]:
df.info()
df.columns
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   date                         100000 non-null  object
 1   time                         100000 non-null  object
 2   booking_id                   100000 non-null  object
 3   booking_status               100000 non-null  object
 4   customer_id                  100000 non-null  object
 5   vehicle_type                 100000 non-null  object
 6   pickup_location              100000 non-null  object
 7   drop_location                100000 non-null  object
 8   avg_vtat                     81045 non-null   float64
 9   avg_ctat                     81045 non-null   float64
 10  cancelled_rides_by_customer  100000 non-null  object
 11  cancelled_rides_by_driver    100000 non-null  object
 12  incomplete_rides             100000 non-null  object
 13  incomplete_rides_reason      100000 non-null  object
 14  booking_value                100000 non-null  float64
 15  payment_method               100000 non-null  object
 16  ride_distance                100000 non-null  float64
 17  driver_ratings               100000 non-null  float64
 18  customer_rating              100000 non-null  float64
 19  payment_value                100000 non-null  float64
dtypes: float64(7), object(13)
memory usage: 15.3+ MB

(100000, 20)

In [33]:
df.loc[df['booking_status'] == 'Cancelled', 'payment_method'] = 'Not Charged'

In [34]:
df['payment_method'].head()

0           CASH
1    Not Charged
2           CASH
3            UPI
4            UPI
Name: payment_method, dtype: object

In [35]:
df['cancelled_rides_by_customer']=df['cancelled_rides_by_customer'].replace('NA','NO' )
df['cancelled_rides_by_driver']=df['cancelled_rides_by_driver'].replace('NA','NO' )

In [36]:
df['avg_ctat'] = df['avg_ctat'].where(pd.notnull(df['avg_ctat']), pd.NA)
df['avg_vtat'] = df['avg_vtat'].where(pd.notnull(df['avg_vtat']), pd.NA)

# phir nullable integer me convert karo
df['avg_ctat'] = df['avg_ctat'].astype('Int64')
df['avg_vtat'] = df['avg_vtat'].astype('Int64')

In [37]:
df.to_csv("ola_booking_cleaned.csv", index=False)

In [38]:
df

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,cancelled_rides_by_customer,cancelled_rides_by_driver,incomplete_rides,incomplete_rides_reason,booking_value,payment_method,ride_distance,driver_ratings,customer_rating,payment_value
0,2025-01-29,02:18:00,MUM0000001,Incomplete,CUST73037,Prime SUV,Ghatkopar West,Thane East,10,30,NO,NO,Yes,Vehicle breakdown during trip,360.22,CASH,0.00,0.0,0.0,180.11
1,2025-01-12,13:33:00,MUM0000002,Cancelled,CUST37992,eBike,Malad East,Thane West,<NA>,<NA>,NO,Low fare or short trip,No,NA,570.47,Not Charged,0.00,0.0,0.0,0.00
2,2025-01-23,16:05:00,MUM0000003,Incomplete,CUST68431,eBike,Bandra West,Colaba,10,30,NO,NO,Yes,Vehicle breakdown during trip,147.72,CASH,0.00,0.0,0.0,0.00
3,2025-01-16,20:35:00,MUM0000004,Completed,CUST55906,eBike,Mulund West,Goregaon East,16,10,NO,NO,No,NA,863.22,UPI,15.76,3.5,4.2,863.22
4,2025-01-16,21:42:00,MUM0000005,Incomplete,CUST29698,Mini,Mulund East,Cuffe Parade,10,30,NO,NO,Yes,Driver unable to locate pickup,749.76,UPI,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2025-01-05,04:27:00,MUM0099996,Incomplete,CUST86804,Prime SUV,Mulund East,Vile Parle East,10,30,NO,NO,Yes,Payment issue,324.23,CASH,0.00,0.0,0.0,0.00
99996,2025-01-13,02:22:00,MUM0099997,Completed,CUST99074,eBike,Kalbadevi,Thane West,14,20,NO,NO,No,NA,359.97,CASH,36.96,4.6,4.6,359.97
99997,2025-01-07,18:45:00,MUM0099998,Cancelled,CUST49278,Auto,Jogeshwari West,Dadar West,<NA>,<NA>,NO,Customer not reachable,No,NA,619.57,Not Charged,0.00,0.0,0.0,0.00
99998,2025-01-25,06:40:00,MUM0099999,Incomplete,CUST36330,Prime SUV,Vile Parle West,Mazgaon,10,30,NO,NO,Yes,Vehicle breakdown during trip,400.44,UPI,0.00,0.0,0.0,400.44
99999,2025-01-04,09:54:00,MUM0100000,Incomplete,CUST45444,Prime Sedan,Saki Naka,Malad West,10,30,NO,NO,Yes,Route blocked or severe traffic,720.81,UPI,0.00,0.0,0.0,0.00

In [39]:
print(df.dtypes)

date                            object
time                            object
booking_id                      object
booking_status                  object
customer_id                     object
vehicle_type                    object
pickup_location                 object
drop_location                   object
avg_vtat                         Int64
avg_ctat                         Int64
cancelled_rides_by_customer     object
cancelled_rides_by_driver       object
incomplete_rides                object
incomplete_rides_reason         object
booking_value                  float64
payment_method                  object
ride_distance                  float64
driver_ratings                 float64
customer_rating                float64
payment_value                  float64
dtype: object

In [42]:
sample_df=df.head(100)

In [43]:
sample_df.to_csv("sample_data.csv", index=False)